<link rel="stylesheet" href="/css/footer.css">
<footer>
    <hr class="footer_hr">
    <div class="f-info">
        <div class="f-info-social-link">
            <div>&copy; 2024 Airbnb, Inc. &sdot; &nbsp;</div>
            <div class="site-links">
                <a href="/listings">Privecy </a> &sdot;
                <a href="/listings">Terms </a> &sdot;
                <a href="/listings">Sitemap </a> &sdot;
                <a href="/listings">Company_details </a>
            </div>
        </div>
        <div class="f-info-social-media">
            <div class="language">
                <i class="fa-solid fa-globe"></i> 
                <div class="lang-text">English (IN)</div>
            </div>
            <div class="footer_inr"> &#8377; INR</div>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/mujupatel41/">
                    <img src="/Icon/linkedin.png" alt="Linkedin.png">
                </a>
                <a href="https://github.com/mujupatel41">
                    <img src="/Icon/github.png" alt="GitHub.png">
                </a>
                <a href="https://instagram.com/mujupatel41">
                    <img src="/Icon/instagram.png" alt="Instagram.png">
                </a>
                <a href="https://x.com/mujupatel41?lang=en">
                    <img src="/Icon/twiter.png" alt="Twiter.png">
                </a>
                <a href="https://www.facebook.com/mujupatel41">
                    <img src="/Icon/facebook.png" alt="Facebook.png" style="padding: 1px;">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-muju">
        <p> Made by - Muju Patel</p>
    </div>
</footer>