<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <img class="imgAirbnb" src="/Icon/name-logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            </div>
            <div class="navbar-nav ms-auto">
                <form action="/listings/search" method="get" class="d-flex" role="search">
                  <input class="form-control me-2 search-inp" name="q" id="search" type="search" placeholder="Search destinations">
                  <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto mt-2 navbar-taxswitch">
                <div class="tax-toggle ms-auto sub-taxswitch">
                    <div class="form-check-reverse form-switch switch-class">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
                    </div>
                </div>
            </div>
            <div class="navbar-nav ms-auto">
                
                <a class="nav-link ms-auto" href="/listings/new">Airbnb your home</a>
                <% if(!currUser){ %>
                    <a class="nav-link ms-auto active" aria-current="page" href="/signup"><b>Sing Up</b></a>
                    <a class="nav-link ms-auto" href="/login"><b>Log In</b></a>
                <% } %>
                <% if(currUser){ %>
                    <a class="nav-link ms-auto" href="/logout"><b>Logout</b></a>
                <% } %>
               
            </div>
        </div>
    </div>
    </nav>
