<%- layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h4>LogIn On Airbnb</h4>
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input required type="text" name="username" class="form-control" id="username" placeholder="Enter Username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
            </div>

            <button class="btn btn-dark add-btn mt-3">LogIn</button>
        </form>
    </div>
</div>